:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  padding: 4.6rem 5rem;
  background: url(https://jolly-kalam-23776e.netlify.app/restaurantwebsite/assets/images/topography.svg)
      top left / 21.5%,
    linear-gradient(
      270deg,
      rgba(136, 69, 194, 1) 0%,
      rgba(189, 62, 143, 1) 42%,
      rgba(246, 61, 104, 1) 80%
    );

  color: #272722;
  font-family: "PT Sans", sans-serif;
}

/* Header */
header {
  height: 8rem;
}
.nav {
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
}
.nav input {
  display: none;
}
.nav label {
  font-size: 4rem;
  display: none;
}
.nav__list {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  height: 4.3rem;
  list-style: none;
}
.nav__list li {
  width: 19.4%;
  text-align: center;
  background-color: #ffc600;
  line-height: 4rem;
}
.nav__list li a {
  text-decoration: none;
  height: 100%;
  text-align: center;
  color: #272722;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
/* ------------------------------------------------------------------------------------- */

.container {
  text-align: center;
  display: grid;
  grid-template-areas:
    "  hero-image hero-image hero-image price1 price1"
    "  hero-image hero-image hero-image price2 price2"
    "  tacos beer wine wine music"
    "  taco taco taco taco taco"
    "  taco taco taco taco taco";
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 3fr 3fr 2fr 1fr 3fr;
  width: 100%;
  padding: 2rem 0;
  gap: 1.5rem;
}
.container__hero {
  grid-area: hero-image;
  background-image: url(https://jolly-kalam-23776e.netlify.app/restaurantwebsite/images/taco.jpg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 5rem;
  font-size: 2rem;
}

.container__hero h1,
.container__hero p {
  background-color: #ffc600;
  padding: 0.5rem;
}
.container__hero p {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 2rem;
}
.container__price {
  background-color: #ffc600;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container__price :first-child {
  font-size: 6rem;
}
.price1 {
  grid-area: price1;
}
.price2 {
  grid-area: price2;
}
.container__card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem 1rem;
  justify-content: space-evenly;
}
.container__card--icon {
  font-size: 5rem;
}
.card__tacos {
  grid-area: tacos;
}
.card__beer {
  grid-area: beer;
}
.card__wine {
  grid-area: wine;
}
.card__music {
  grid-area: music;
}

.container__taco {
  grid-area: taco;
  background-color: #fff;
  padding: 5rem 5rem;
  display: flex;
}
.container__taco--image {
  display: flex;

  align-items: center;
}
.container__taco--image img {
  width: 100%;
}
